@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    min-width: 300px;
    background-color: #040f24;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: gray;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: gray;
}
p {
    color: gray;
    font-size: 1.5em;
}

.button {
    text-decoration: none;
    background-color: #09A17D;
    border: none;
    color: white;
    border-radius: 0.5em;
}

.grid {
    display: grid;
    grid-template-columns: 0.2fr 0.4fr 1fr 0.1fr 0.1fr 1fr 0.4fr 0.2fr;
    grid-template-rows: repeat(10 auto);
    grid-gap: none;
    
}

.grid>header {
    grid-column: 2 / 8;
    grid-row: 1;
    justify-self: center;
    
}

.grid> .herramientas {
    border-bottom: 1px solid gray;
    grid-column: 2 / 8;
    grid-row: 2;
    justify-self: center;
    align-self: flex-start;
    
}

/*.grid>.herramientas .sticky { /*Para mantener la toolbar en la parte superior de la página
    position: fixed;
    top: 0;
    width: 100%;
}*/

.grid> .herramientas nav li{
    display: inline-block;
}

.grid> .herramientas nav li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1ex 2ex;
    color: gray;
    font-size: 1.5em;
    font-weight: bold;
    
}

.grid> .herramientas nav li a:hover {
    color: white;
}


.grid>header .logo>img {
    width: 90vw;
    justify-self: center;
    align-self: center;
}


.descripcion {
    grid-column: 3 / 7;
    grid-row: 3;
}

.descripcion>h1 {
    text-justify: center;
    text-align: center;
}

.descripcion>p {
    text-justify: center;
    text-align: center;
}

.descripcion2 {
    grid-column: 3 / 7;
    grid-row: 4;
}

.descripcion2>h2 {
    text-justify: center;
    text-align: center;
}

.descripcion2>p {
    text-justify: center;
    text-align: center;
}

.categorias {
    grid-column: 3;
    grid-row: 6; 
    justify-self: center;
    align-self: center;
}

.categorias>li { 
    list-style-type: none;
}

.categorias>li a { 
    text-decoration: none;
    color: gray;
    font-size: 3em;
    font-weight: bold;
}

.video {
    grid-column: 3 / 7;
    grid-row: 5;
}

.video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/*.backgroundnegro {
    background-image: url(img/header.png);
    background-size: cover;
    grid-column: 2 / 4;
    grid-row: 1 / 8;
    z-index: -1;
}*/

@media screen and (max-width: 740px) {
   
    .grid .categorias {
        grid-column: 2 / 4;
        grid-row: 4;
        justify-self: center;
    }

    .grid> .herramientas nav li{
        display: block;
        text-align: center;
    }

    .descripcion {
        grid-column: 2 / 4;
        grid-row: 3;
        text-align: center;
    }


}